body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #2e2f42;
  background-color: #f4f4fd;
}
ul .navigation-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04;
  text-decoration: none;
  color: #2e2f42;
}
ul .navigation-link:hover,
ul .address-link:focus {
  color: #4d5ae5;
}
ul .navigation-link:active {
  color: #404bbf;
}
ul .address-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 4%;
  text-decoration: none;
  color: #2e2f42;
}
ul .address-link:hover,
ul .address-link:focus {
  color: #4d5ae5;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 2%;
  color: #ffffff;
  background-color: #2e2f42;
  text-align: center;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 2%;
  color: #2e2f42;
  text-align: center;
  background-color: #f4f4fd;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
  color: #2e2f42;
  text-align: center;
}
.team-card {
  text-align: center;
  background-color: #8e8f99;
}
p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}
.portfolio-card {
  text-align: left;
}
footer {
  background-color: #2e2f42;
}
footer p {
  color: #ffffff;
}
