body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #f4f4fd;
}
.navigation-link a {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #2e2f42;
}
.navigation-link a:hover,
.address-link a:focus {
  color: #4d5ae5;
}
.navigation-link a:active {
  color: #404bbf;
}
.address-link a {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #2e2f42;
}
.address-link a:hover,
.address-link a:focus {
  color: #4d5ae5;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: #2e2f42;
  text-align: center;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
}
ul {
  list-style: none;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  background-color: #f4f4fd;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.team-card {
  text-align: center;
  background-color: #8e8f99;
}
p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-card {
  text-align: left;
}
footer {
  background-color: #2e2f42;
}
footer p {
  color: #ffffff;
}
